<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talentcenter.dao.CenterMapper">

    <select id="selectCenterItemCheckedItem" parameterType="Map" resultType="java.util.HashMap">
        SELECT
	tcui.company_checked,
	tcui.street_checked,
	tcui.center_checked,
	tcui.have_submit,
	tcui.item_name,
	tcui.company_user_item_id,
	tu.real_name,
	tcui.submit_time,
	tic.item_year
FROM
	talent_company_user_item tcui
LEFT JOIN talent_user tu ON tcui.user_id=tu.user_id
LEFT JOIN talent_company tc ON tu.company_id=tc.user_id
LEFT JOIN talent_item_config tic ON tcui.config_id = tic.item_config_id
WHERE
tcui.parent_id = 0
AND tcui.have_submit = 1
AND tcui.street_checked = 4
		<if test="itemId !=null and itemId != ''">
			AND tcui.item_id = #{itemId,jdbcType=BIGINT}
		</if>
		<if test="centerChecked !=null and centerChecked != ''">
			AND tcui.center_checked = #{centerChecked,jdbcType=INTEGER}
		</if>
		<if test="streetId !=null and streetId != ''">
			AND tc.street_id = #{streetId,jdbcType=INTEGER}
		</if>
    </select>

	<update id="checkAll" parameterType="Map">
        update talent_company_user_item set
        center_checked=4,
        center_check_id2=#{userId,jdbcType=BIGINT},
        center_check_name2=#{realName,jdbcType=VARCHAR}
        where company_user_item_id IN (${ids})
    </update>
</mapper>