<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talentcenter.dao.CenterMapper">

    <select id="selectCenterItemCheckedItem" parameterType="Map" resultType="java.util.HashMap">
        SELECT
	tcui.company_checked,
	tcui.street_checked,
	tcui.center_checked,
	tcui.have_submit,
	tcui.item_name,
	tcui.company_user_item_id,
	tu.real_name,
	tcui.submit_time
FROM
	talent_company_user_item tcui
LEFT JOIN talent_user tu ON tcui.user_id=tu.user_id
WHERE
	tcui.center_checked = #{centerChecked,jdbcType=INTEGER}
AND tcui.parent_id = 0
AND tcui.have_submit = 1
AND tcui.street_checked = 4
    </select>
</mapper>