<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talentcenter.dao.CompanyUserItemMapper">

    <resultMap id="BaseResultMap" type="com.talentcenter.entity.CompanyUserItem">
        <id column="company_user_item_id" jdbcType="INTEGER" property="companyUserItemId" />
        <result column="item_id" jdbcType="INTEGER" property="itemId" />
        <result column="item_name" jdbcType="VARCHAR" property="itemName" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="company_reason" jdbcType="VARCHAR" property="companyReason" />
        <result column="company_checked" jdbcType="INTEGER" property="companyChecked" />
        <result column="street_reason" jdbcType="VARCHAR" property="streetReason" />
        <result column="street_checked" jdbcType="INTEGER" property="streetChecked" />
        <result column="center_reason" jdbcType="VARCHAR" property="centerReason" />
        <result column="center_checked" jdbcType="INTEGER" property="centerChecked" />
        <result column="have_submit" jdbcType="INTEGER" property="haveSubmit" />
    </resultMap>

    <delete id="delByUserId" parameterType="java.lang.Long">
    DELETE from talent_company_user_item  WHERE user_id = #{userId,jdbcType=BIGINT};
  </delete>

    <sql id="Base_Column_List">
    company_user_item_id, item_id, item_name, user_id, company_reason, company_checked,
    street_reason, street_checked, center_reason, center_checked
    </sql>
    <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        i.item_name,
        i.item_length,
        i.memo,
        i.item_id

        FROM talent_company_user_item cui LEFT JOIN talent_item i ON cui.item_id = i.item_id

        WHERE  user_id = #{userId,jdbcType=BIGINT}
    </select>
    <sql id="where">
        <where>
            <if test="companyUserItemId !=null and companyUserItemId != ''">
                AND company_user_item_id = #{company_user_item_id,jdbcType=BIGINT}
            </if>
            <if test="itemId != null and itemId !=''">
                AND item_id = #{itemId,jdbcType=BIGINT}
            </if>
            <if test="userId != null and userId !=''">
                AND user_id = #{userId,jdbcType=BIGINT}
            </if>
        </where>
    </sql>
    <select id="selectByInfo" resultMap="BaseResultMap" parameterType="java.lang.Object">
        select
        <include refid="Base_Column_List"/>
        from talent_company_user_item
        <include refid="where"/>
    </select>
    
    <update id="updateByItemIdAndUserId" parameterType="Map">
        update talent_company_user_item
        <set>
            <if test="haveSubmit != null">
                have_submit=1,
            </if>
            <if test="type != null">
                `type` = #{type,jdbcType=INTEGER},
            </if>
            <if test="amount != null">
                amount = #{amount,jdbcType=DECIMAL},
            </if>
            <if test="memo != null">
                memo = #{memo,jdbcType=VARCHAR},
            </if>
            <if test="talentType != null">
                talent_type = #{talentType,jdbcType=BIGINT},
            </if>
            <if test="talentTypeContent != null">
                talent_type_content = #{talentTypeContent,jdbcType=BIGINT},
            </if>
            <if test="submitTime != null">
                submit_time = #{submitTime,jdbcType=DATE},
            </if>
            <if test="companyChecked != null">
                company_checked = #{companyChecked,jdbcType=INTEGER},
            </if>
            <if test="companyChecked != null">
                company_reason = null ,
            </if>
            <if test="streetChecked != null">
                street_checked = #{streetChecked,jdbcType=INTEGER},
            </if>
            <if test="streetChecked != null">
                street_reason = null ,
            </if>
            <if test="centerChecked != null">
                center_checked = #{centerChecked,jdbcType=INTEGER},
            </if>
            <if test="centerChecked != null">
                center_reason = null ,
            </if>
            <if test="start != null">
                start = #{start,jdbcType=DATE} ,
            </if>
            <if test="end != null">
                end = #{end,jdbcType=DATE} ,
            </if>
        </set>
         where user_id = #{userId,jdbcType=BIGINT} and item_id= #{itemId,jdbcType=BIGINT}
    </update>
    
    <update id="updateUserItem" parameterType="com.talentcenter.entity.CompanyUserItem">
        update talent_company_user_item set
        `type` = #{type,jdbcType=INTEGER},
        amount = #{amount,jdbcType=DECIMAL},
        memo = #{memo,jdbcType=VARCHAR},
        talent_type_content = #{talentTypeContent,jdbcType=BIGINT},
        company_checked = 2
        where company_user_item_id = #{companyUserItemId,jdbcType=BIGINT}
    </update>

    <delete id="delByParentId" parameterType="java.lang.Long">
        delete from talent_company_user_item where parent_id=#{parentId,jdbcType=BIGINT}
    </delete>
    
    <select id="selectNpassItem" resultType="int">
        select count(1) from talent_company_user_item where
        (company_checked = 0 or  street_checked = 0 or center_checked = 0) and
        item_id = #{itemId,jdbcType=BIGINT} and user_id = #{userId,jdbcType=BIGINT}
    </select>
</mapper>
