<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talentcenter.dao.CompanyUserInfoMapper">

    <update id="updateByUserId" parameterType="com.talentcenter.entity.CompanyUserInfo">
        update talent_company_user_info
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="companyUserName != null">
                company_user_name = #{companyUserName,jdbcType=VARCHAR},
            </if>
            <if test="companyUserBirthday != null">
                company_user_birthday = #{companyUserBirthday,jdbcType=DATE},
            </if>
            <if test="companyUserSex != null">
                company_user_sex = #{companyUserSex,jdbcType=BIT},
            </if>
            <if test="companyUserCard != null">
                company_user_card = #{companyUserCard,jdbcType=VARCHAR},
            </if>
            <if test="companyUserHomeProvince != null">
                company_user_home_province = #{companyUserHomeProvince,jdbcType=VARCHAR},
            </if>
            <if test="companyUserHomeCity != null">
                company_user_home_city = #{companyUserHomeCity,jdbcType=VARCHAR},
            </if>
            <if test="companyUserHomeDistrict != null">
                company_user_home_district = #{companyUserHomeDistrict,jdbcType=VARCHAR},
            </if>
            <if test="companyUserHomeAddress != null">
                company_user_home_address = #{companyUserHomeAddress,jdbcType=VARCHAR},
            </if>
            <if test="companyUserHomeProvinceId != null">
                company_user_home_province_id = #{companyUserHomeProvinceId,jdbcType=INTEGER},
            </if>
            <if test="companyUserHomeCityId != null">
                company_user_home_city_id = #{companyUserHomeCityId,jdbcType=INTEGER},
            </if>
            <if test="companyUserHomeDistrictId != null">
                company_user_home_district_id = #{companyUserHomeDistrictId,jdbcType=INTEGER},
            </if>
            <if test="companyUserHuDistrict != null">
                company_user_hu_district = #{companyUserHuDistrict,jdbcType=VARCHAR},
            </if>
            <if test="companyUserHuAddress != null">
                company_user_hu_address = #{companyUserHuAddress,jdbcType=VARCHAR},
            </if>
            <if test="companyUserHuDistrictId != null">
                company_user_hu_district_id = #{companyUserHuDistrictId,jdbcType=INTEGER},
            </if>
            <if test="companyUserWorkLength != null">
                company_user_work_length = #{companyUserWorkLength,jdbcType=INTEGER},
            </if>
            <if test="companyUserSchool != null">
                company_user_school = #{companyUserSchool,jdbcType=VARCHAR},
            </if>
            <if test="companyUserGraduation != null">
                company_user_graduation = #{companyUserGraduation,jdbcType=DATE},
            </if>
            <if test="companyUserEducation != null">
                company_user_education = #{companyUserEducation,jdbcType=INTEGER},
            </if>
            <if test="companyUserPositional != null">
                company_user_positional = #{companyUserPositional,jdbcType=INTEGER},
            </if>
            <if test="companyUserPost != null">
                company_user_post = #{companyUserPost,jdbcType=VARCHAR},
            </if>
            <if test="companyUserMobel != null">
                company_user_mobel = #{companyUserMobel,jdbcType=VARCHAR},
            </if>
            <if test="companyUserTel != null">
                company_user_tel = #{companyUserTel,jdbcType=VARCHAR},
            </if>
            <if test="companyUserBank != null">
                company_user_bank = #{companyUserBank,jdbcType=VARCHAR},
            </if>
            <if test="companyUserBankNo != null">
                company_user_bank_no = #{companyUserBankNo,jdbcType=VARCHAR},
            </if>
            <if test="companyUserContractTimeBegin != null">
                company_user_contract_time_begin = #{companyUserContractTimeBegin,jdbcType=DATE},
            </if>
            <if test="companyUserContractTimeEnd != null">
                company_user_contract_time_end = #{companyUserContractTimeEnd,jdbcType=DATE},
            </if>
            <if test="companyUserHousePrice != null">
                company_user_house_price = #{companyUserHousePrice,jdbcType=DECIMAL},
            </if>
            <if test="companyUserHouseType != null">
                company_user_house_type = #{companyUserHouseType,jdbcType=INTEGER},
            </if>
            <if test="companyUserHouseContractTimeEnd != null">
                company_user_house_contract_time_end = #{companyUserHouseContractTimeEnd,jdbcType=DATE},
            </if>
            <if test="companyUserHouseContractTimeBegin != null">
                company_user_house_contract_time_begin = #{companyUserHouseContractTimeBegin,jdbcType=DATE},
            </if>
            <if test="companyUserSocietySaveTime1Begin != null">
                company_user_society_save_time1_begin = #{companyUserSocietySaveTime1Begin,jdbcType=DATE},
            </if>
            <if test="companyUserSocietySaveTime1End != null">
                company_user_society_save_time1_end = #{companyUserSocietySaveTime1End,jdbcType=DATE},
            </if>
            <if test="companyUserSocietySave1 != null">
                company_user_society_save1 = #{companyUserSocietySave1,jdbcType=DECIMAL},
            </if>
            <if test="companyUserSocietySaveTime2Begin != null">
                company_user_society_save_time2_begin = #{companyUserSocietySaveTime2Begin,jdbcType=DATE},
            </if>
            <if test="companyUserSocietySaveTime2End != null">
                company_user_society_save_time2_end = #{companyUserSocietySaveTime2End,jdbcType=DATE},
            </if>
            <if test="companyUserSocietySave2 != null">
                company_user_society_save2 = #{companyUserSocietySave2,jdbcType=DECIMAL},
            </if>

            <if test="companyUserIitBegin != null">
                company_user_iit_begin = #{companyUserIitBegin,jdbcType=DATE},
            </if>
            <if test="companyUserIitEnd != null">
                company_user_iit_end = #{companyUserIitEnd,jdbcType=DATE},
            </if>
            <if test="companyUserIit != null">
                company_user_iit = #{companyUserIit,jdbcType=DECIMAL},
            </if>

            <if test="companyUserMarriage != null">
                company_user_marriage = #{companyUserMarriage,jdbcType=BIT},
            </if>
            <if test="companyUserWorkStart != null">
                company_user_work_start = #{companyUserWorkStart,jdbcType=DATE},
            </if>
            <if test="companyUserNotBuyHouse != null">
                company_user_not_buy_house = #{companyUserNotBuyHouse,jdbcType=BIT},
            </if>
            <if test="companyUserHaveAccept != null">
                company_user_have_accept = #{companyUserHaveAccept,jdbcType=BIT},
            </if>
            <if test="companyUserDegree != null">
                company_user_degree = #{companyUserDegree,jdbcType=INTEGER},
            </if>
            <if test="companyUserHouseArea != null">
                company_user_house_area = #{companyUserHouseArea,jdbcType=FLOAT},
            </if>
            <if test="updateTimes != null">
            update_times = #{updateTimes}
            </if>
        </set>

        where user_id = #{userId,jdbcType=INTEGER}
    </update>
</mapper>