<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talentcenter.dao.ItemConfigMapper">

    <resultMap id="BaseResultMap" type="com.talentcenter.entity.ItemConfig">
        <id column="item_config_id" jdbcType="INTEGER" property="itemConfigId" />
        <result column="item_id" jdbcType="INTEGER" property="itemId" />
        <result column="item_config_accept_begin" jdbcType="DATE" property="itemConfigAcceptBegin" />
        <result column="item_config_accept_end" jdbcType="DATE" property="itemConfigAcceptEnd" />
        <result column="item_config_check_begin" jdbcType="DATE" property="itemConfigCheckBegin" />
        <result column="item_config_check_end" jdbcType="DATE" property="itemConfigCheckEnd" />
        <result column="item_config_effect" jdbcType="DATE" property="itemConfigEffect" />
        <result column="item_config_face" jdbcType="BIT" property="itemConfigFace" />
        <result column="item_config_type" jdbcType="INTEGER" property="itemConfigType" />
        <result column="item_config_amount_total" jdbcType="DECIMAL" property="itemConfigAmountTotal" />
        <result column="item_config_amount_per" jdbcType="DECIMAL" property="itemConfigAmountPer" />
        <result column="item_config_send_type" jdbcType="INTEGER" property="itemConfigSendType" />
        <result column="item_config_send_rate" jdbcType="REAL" property="itemConfigSendRate" />
        <result column="item_config_service" jdbcType="VARCHAR" property="itemConfigService" />
        <result column="item_config_content" jdbcType="VARCHAR" property="itemConfigContent" />
        <result column="item_config_conetent_attachment" jdbcType="VARCHAR" property="itemConfigConetentAttachment" />
        <result column="attachment_name" jdbcType="VARCHAR" property="attachmentName" />
        <result column="item_config_company_check" jdbcType="BIT" property="itemConfigCompanyCheck" />
        <result column="item_config_street_check" jdbcType="BIT" property="itemConfigStreetCheck" />
        <result column="item_config_center_check" jdbcType="BIT" property="itemConfigCenterCheck" />
        <result column="item_config_target" jdbcType="INTEGER" property="itemConfigTarget" />
        <result column="item_config_t_type" jdbcType="BIT" property="itemConfigTType" />
        <result column="type_category_id" jdbcType="INTEGER" property="typeCategoryId" />
        <result column="del" jdbcType="BIT" property="del" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="create_id" jdbcType="INTEGER" property="createId" />
        <result column="create_name" jdbcType="VARCHAR" property="createName" />
        <result column="update_id" jdbcType="INTEGER" property="updateId" />
        <result column="update_name" jdbcType="VARCHAR" property="updateName" />
        <result column="memo" jdbcType="VARCHAR" property="memo" />
        <result column="item_name" jdbcType="VARCHAR" property="itemName" />
        <result column="item_year" jdbcType="VARCHAR" property="itemYear" />
        <result column="item_need_year" jdbcType="VARCHAR" property="itemNeedYear" />
    </resultMap>

    <sql id="Base_Column_List">
    item_config_id, item_id, item_config_accept_begin, item_config_accept_end, item_config_check_begin,
    item_config_check_end, item_config_effect, item_config_face, item_config_type, item_config_amount_total,
    item_config_amount_per, item_config_send_type, item_config_send_rate, item_config_service,
    item_config_content, item_config_conetent_attachment, attachment_name, item_config_company_check,
    item_config_street_check, item_config_center_check, item_config_target, item_config_t_type,
    type_category_id, del, create_time, update_time, create_id, create_name, update_id,
    update_name, memo, item_year, item_need_year
  </sql>

    <select id="selectNewRecord" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from talent_item_config ORDER BY item_config_id DESC LIMIT 1
    </select>

    <select id="selectActive"  resultMap="BaseResultMap">
        select
        item_config_id, ic.item_id, item_config_accept_begin, item_config_accept_end, item_config_check_begin,
    item_config_check_end, item_config_effect, item_config_face, item_config_type, item_config_amount_total,
    item_config_amount_per, item_config_send_type, item_config_send_rate, item_config_service,
    item_config_content, item_config_conetent_attachment, attachment_name, item_config_company_check,
    item_config_street_check, item_config_center_check, item_config_target, item_config_t_type,
    type_category_id, ic.del, ic.create_time, ic.update_time, ic.create_id, ic.create_name, ic.update_id,
    ic.update_name, ic.memo,i.item_name
        from talent_item_config ic
        left join talent_item i on ic.item_id = i.item_id
        where item_config_state=1
        ORDER BY item_config_accept_begin desc
    </select>

    <delete id="batchDel" parameterType="Map">
    UPDATE talent_item_config SET del=0 WHERE item_config_id IN (${ids});
  </delete>
</mapper>