<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th><input type="checkbox" id="check_all"></th>
        <th>政策名称</th>
        <th>共补助时间(月)</th>
        <th>政策分类</th>
        <th>备注</th>
        <th>添加人</th>
        <th>添加时间</th>
        <th>编辑人</th>
        <th>编辑时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    @for(list in page_info.list){
    <tr>
        <td><input type="checkbox" class="i-checks" name="input[]" value="${list.itemId}"></td>
        <td>${list.itemName}</td>
        <td>${list.itemLength}</td>
        <td>${list.itemTypeName}</td>
        <td>${list.memo}</td>
        <td>${list.createName}</td>
        <td>${list.createTime,"yyyy-MM-dd"}</td>
        <td>${list.updateName}</td>
        <td>${list.updateTime,"yyyy-MM-dd"}</td>
        <td>
            <a href="${ctxPath}/item/config.html?itemId=${list.itemId}" title="政策配置"><!--<i class="glyphicon glyphicon-config"></i>-->配置</a>&nbsp;&nbsp;&nbsp;
            <a href="${ctxPath}/item/edit.html?itemId=${list.itemId}"title="编辑"><i class="glyphicon glyphicon-pencil"></i></a>&nbsp;&nbsp;&nbsp;
            <a href="${ctxPath}/item/del.html?itemId=${list.itemId}" title="删除"onclick="return confirm('删除后不可恢复, 确定删除?')"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
    </tr>
    @}
    </tbody>
</table>
<div class="col-sm-8 pull-right text-right">${pages}</div>
<script>
    $(".pagination  a").click(function(){
        var page = this.attributes["data-p"].nodeValue;
        ajax_get_table('search-form',page);
        /*console.log(this.attributes["data-p"].nodeValue);
        console.log(this.attr('data-p'));*/
    });

    $("#check_all").click(function () {
        if($('#check_all').is(':checked')) {
            $(".i-checks").prop("checked", "checked");
            // $(".i-checks").
        }else {
            $(".i-checks").removeAttr("checked");
        }
    });

    $(".i-checks").click(function () {
        if($("input[class='i-checks']:checked").length<10){
            $("#check_all").prop("checked", false);
        }else {
            $("#check_all").prop("checked", true);
        }
    });
</script>