<!DOCTYPE html>
<html>
@layout("/layout/_form_layout.html"){
<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

            </div>
            <h3>欢迎注册 奉贤区人才中心管理系统</h3>
            <form class="form-horizontal m-t" id="viladate_form">
                <div class="form-group">
                    <input type="text" name="userName" id="user_name" class="form-control" placeholder="请输入用户名" required>
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="password" class="form-control" placeholder="请输入密码" required="">
                </div>
                <div class="form-group">
                    <input type="password" id="comfirm_password" name="comfirmPassword" class="form-control" placeholder="请再次输入密码" required="">
                </div>

                <div class="form-group">
                    <input type="text" name="companyCode" class="form-control" placeholder="请输入企业统一社会信用代码" required="">
                </div>

                <button type="submit" class="btn btn-primary block full-width m-b">注 册</button>

                <p class="text-muted text-center"><small>已经有账户了？</small><a href="login.html">点此登录</a>
                </p>

            </form>
        </div>
    </div>
    @}
</body>
<script type="text/javascript">
    toastr.options = {
        "closeButton": true,
        "debug": true,
        "progressBar": false,
        "positionClass": "toast-top-center",
        "showDuration": "400",
        "hideDuration": "1000",
        "timeOut": "500",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }

    $.validator.setDefaults({
        highlight: function (e) {
            $(e).closest(".form-group").removeClass("has-success").addClass("has-error")
        }, success: function (e) {
            e.closest(".form-group").removeClass("has-error").addClass("has-success")
        }, errorElement: "span", errorPlacement: function (e, r) {
            e.appendTo(r.is(":radio") || r.is(":checkbox") ? r.parent().parent().parent() : r.parent())
        }, errorClass: "help-block m-b-none pull-left", validClass: "help-block m-b-none pull-left"
    }), $().ready(function () {
        // $("#commentForm").validate();
        $(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",});
        var e = "<i class='fa fa-times-circle'></i> ";
        $("#viladate_form").validate({
            rules: {
                userName: {
                    required: true,
                    remote: {
                        url: "${ctxPath}/checkUnique",
                        data:{
                            user_name:function(){
                                return $("#user_name").val();
                            },
                            table:function(){
                                return "talent_user";
                            }
                        }
                    }
                },
                password:{
                    required: true
                },
                comfirmPassword:{
                    required: true,
                    equalTo: "#password"
                }
            },
            messages: {
                userName: {
                    required: e + "请输入用户名",
                    remote: e + "该用户名已存在"
                },
                password:{
                    required: e + "请输入用户密码"
                },
                comfirmPassword:{
                    required: e + "请确认密码",
                    equalTo: e + "两次密码不一致"
                }
            },
            submitHandler: function() {
                $.ajax({
                    type : "POST",
                    url:"${ctxPath}/company/reg",
                    data : $('#viladate_form').serialize(),
                    success: function(data){
                        if(data['status']==1){
                            toastr.success(data['body']);
                            setTimeout('window.location.href="/login.html"',900);
                        }else{
                            toastr.success(data['body']);
                        }
                    }
                });
            }
        });
    });
</script>
</html>