<!DOCTYPE html>
<html>
@layout("/layout/_form_layout.html"){
<link href="/css/plugins/layer/laydate.css" rel="stylesheet" type="text/css">
<link href="/css/plugins/webuploader/webuploader.css" rel="stylesheet" type="text/css">
<style>
    .upload-error{
        color:#a94442;;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <form class="form-horizontal m-t" id="ask_form">
                    @for(certificate in certificates){
                    <div class="form-group">
                        <label class="col-sm-2 control-label">${certificate.certificateName}：</label>
                        <div class="col-sm-10">
                            <div class="uploader">
                                <!--用来存放item-->
                                <input type="hidden" class="change_flag" name="change_${certificate.certificateId}" value="0" />
                                <div id="fileList-${certificate.certificateId}" c-id="${certificate.certificateId}" class="uploader-list">
                                @if(certificate.companyUserCertificates!=null){
                                    @for(img in certificate.companyUserCertificates){
                                    <div id="WU_F_${img.companyUserCertificateId}" class="file-item thumbnail upload-state-done">
                                        <img src="${ctxPath}/talent${img.imgUrl}">
                                        <div class="file-panel" style="height: 0px;"><span class="cancel">删除</span></div>
                                        <input type="hidden" name="certificateId[]" value="${img.certificateId}">
                                        <input type="hidden" name="imgUrl[]" value="${img.imgUrl}">
                                    </div>
                                    @}
                                @}
                                </div>
                                <div class="filePicker" c-id="${certificate.certificateId}">选择图片</div>
                            </div>
                        </div>
                    </div>
                    @}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">申请政策：</label>
                        <div class="col-sm-10">
                            @for(item in items){
                            <div class="checkbox checkbox-inline" id="item-${item.itemId}">
                                <input class="items" type="checkbox" id="i_${item.itemId}" name="items[]" value="${item.itemId}">
                                <label for="i_${item.itemId}"> ${item.itemName} </label>
                                <input type="hidden"  name="itemsName[]" value="${item.itemName}">
                            </div>
                            @}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">其他需求：</label>
                        <div class="col-sm-10">
                            <div class="checkbox checkbox-info checkbox-circle checkbox-inline">
                                <input type="radio" id="none" class="m_type" name="type" checked value="0">
                                <label for="none">无</label>
                            </div>
                            <div class="checkbox checkbox-info checkbox-circle checkbox-inline">
                                <input type="radio" id="cash" class="m_type" name="type" value="1">
                                <label for="cash">现金</label>
                            </div>
                            <div class="checkbox checkbox-info checkbox-circle checkbox-inline">
                                <input type="radio" id="service" class="m_type" name="type" value="2">
                                <label for="service">其他</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">申请金额：</label>
                        <div class="col-sm-10">
                            <input id="amount" placeholder="请输申请金额" name="amount" class="form-control" value="" type="number">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">详细描述：</label>
                        <div class="col-sm-10">
                            <textarea name="memo" class="form-control" id="memo" rows="5" cols="70"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <a class="btn btn-primary" id="submit">提交</a>
                            <input type="hidden" name="itemId" value="${itemId}" />
                            <div class="btn btn-white" onclick="window.history.go(-1)">取消</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@}
</body>
<script src="/js/plugins/layer/laydate/laydate.js"></script>
<script src="/js/plugins/webuploader/webuploader.js"></script>
<script type="text/javascript">

    toastr.options = {
        "closeButton": true,
        "debug": true,
        "progressBar": false,
        "positionClass": "toast-top-center",
        "showDuration": "400",
        "hideDuration": "1000",
        "timeOut": "500",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }

    $('#submit').click(function () {
        var check = true;
        $('.uploader-list').each(function (i,e) {
            if($(e).children('.upload-state-done').length==0){
                var error = '<span class="help-block upload-error"><i class="fa fa-times-circle"></i> 请上传 '+$(e).parent().parent().prev().html().replace("：","")+'</span>';
                $(e).html(error);
                check = false;
            }
        });
        if(check){
            $.ajax({
                type: "POST",
                url: "${ctxPath}/company_user/ask_for",
                data: $('#ask_form').serialize(),
                success: function (data) {
                    if (data['status'] == 1) {
                        toastr.success(data['body']);
                        setTimeout('window.location.href="/company_user/items.html"', 1000);
                    } else {
                        toastr.success(data['body']);
                    }
                }
            });
        }
    });

    $(document).ready(function () {
        var mType = $('input:radio[name="type"]:checked').val();
        if(mType==1){
            $("#amount").attr("readonly",false);
        }else{
            $("#amount").attr("readonly",true);
        }

        $('input:radio[name="type"]').change(function () {
            var mType = $('input:radio[name="type"]:checked').val();
            if(mType==1){
                $("#amount").attr("readonly",false);
            }else{
                $("#amount").attr("readonly",true);
            }
        });

        $('.items').click(function () {
            if($(this).is(':checked')){
                $.ajax({
                    type:"GET",
                    url: "${ctxPath}/item/talent_type_content?itemId="+$(this).val(),
                    success:function (data) {
                        if(data.state==1){
                            var htmlStr = "";
                            htmlStr += '<select name="talentType'+data.itemId+'" id="ii-'+data.itemId+'">';
                            $.each(data.itemTalentContents, function (i, t) {
                                if(t.payType){
                                    htmlStr += '<option value="'+t.talentTypeId+'">'+t.talentTypeName+'--月工资的'+t.itemTalentContent+'</option>';
                                }else{
                                    htmlStr += '<option value="'+t.talentTypeId+'">'+t.talentTypeName+'--￥'+t.itemTalentContent+'</option>';
                                }
                            })
                            htmlStr +="</select>";
                            $('#item-'+data.itemId).append(htmlStr);
                            // console.log($(this).val());
                            /*var htmlStr = "";
                            htmlStr = '<select name="talentType"'+data.+' id="type_category_id">';*/

                        }
                    }
                });
            }else{
                $('#ii-'+$(this).val()).remove();
            }
        });
    });

    // 图片上传demo
    jQuery(function() {


        var $ = jQuery,
            $list,
            // 优化retina, 在retina下这个值是2
            ratio = window.devicePixelRatio || 1,

            // 缩略图大小
            thumbnailWidth = 100 * ratio,
            thumbnailHeight = 100 * ratio,

            // Web Uploader实例
            uploader;
        $(".filePicker").click(function () {
            $list = $("#fileList-"+$(this).attr('c-id'));
        });

        $('.upload-state-done').on( 'mouseenter', function() {
            // console.log($(this).parent('.file-panel'));
            $(this).children('.file-panel').stop().animate({height: 30});
        });

        $('.upload-state-done').on( 'mouseleave', function() {
            // console.log($(this).parent('.file-panel'));
            $(this).children('.file-panel').stop().animate({height: 0});
        });

        $('.cancel').on('click',function () {
            removeFile( $(this) );
        });
        // 初始化Web Uploader
        uploader = WebUploader.create({

            // 自动上传。
            auto: true,

            // swf文件路径
            swf: '/js/Uploader.swf',

            // 文件接收服务端。
            server: '/upload_img',

            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '.filePicker',

            // 只允许选择文件，可选。
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            }
        });

        // 当有文件添加进来的时候
        uploader.on( 'fileQueued', function( file ) {
            var fileId = 'WU_FILE_'+$('.upload-state-done').length;
            // var fileId = 'WU_FILE_'+$list.children('.upload-state-done').length;
            var $li = $(
                '<div id="' + fileId + '" class="file-item thumbnail">' +
                '<img>' +
                '</div>'
                ),
                $btns = $('<div class="file-panel">' +
                    '<span class="cancel">删除</span>').appendTo( $li ),
                $img = $li.find('img');

            $li.on( 'mouseenter', function() {
                $btns.stop().animate({height: 30});
            });

            $li.on( 'mouseleave', function() {
                $btns.stop().animate({height: 0});
            });

            $btns.on( 'click', 'span', function() {
                var index = $(this).index(),
                    deg;
                switch ( index ) {
                    case 0:
                        removeFile( $(this) );
                        // removeFile( file );
                        return;
                }

                if ( supportTransition ) {
                    deg = 'rotate(' + file.rotation + 'deg)';
                    $wrap.css({
                        '-webkit-transform': deg,
                        '-mos-transform': deg,
                        '-o-transform': deg,
                        'transform': deg
                    });
                } else {
                    $wrap.css( 'filter', 'progid:DXImageTransform.Microsoft.BasicImage(rotation='+ (~~((file.rotation/90)%4 + 4)%4) +')');
                }
            });

            $list.append( $li );

            // 创建缩略图
            uploader.makeThumb( file, function( error, src ) {
                if ( error ) {
                    $img.replaceWith('<span>不能预览</span>');
                    return;
                }

                $img.attr( 'src', src );
            }, thumbnailWidth, thumbnailHeight );
        });

        uploader.on('ready', function() {
            window.uploader = uploader;
        });

        function removeFile( obj ) {
            // var fileId = 'WU_FILE_'+$('.upload-state-done').length;
            // var $li = $('#'+obj.id);
            // $li.off().find('.file-panel').off().end().remove();
            obj.parent().parent().parent().prev().val('1');
            obj.parent().parent().remove();
        }



        // 文件上传过程中创建进度条实时显示。
        uploader.on( 'uploadProgress', function( file, percentage ) {
            var $li = $( '#'+file.id ),
                $percent = $li.find('.progress span');

            // 避免重复创建
            if ( !$percent.length ) {
                $percent = $('<p class="progress"><span></span></p>')
                    .appendTo( $li )
                    .find('span');
            }

            $percent.css( 'width', percentage * 100 + '%' );
        });

        // 文件上传成功，给item添加成功class, 用样式标记上传成功。
        uploader.on( 'uploadSuccess', function( file,data ) {
            var fileId = 'WU_FILE_'+$('.upload-state-done').length;
            // var fileId = 'WU_FILE_'+$list.children('.upload-state-done').length;
            var $li = $( '#'+ fileId);
            $li.parent().prev().val('1');
            $li.prev('.upload-error').remove();
            $('<input type="hidden" name="certificateId[]" value="'+$list.attr("c-id")+'">' +
                '<input type="hidden" name="imgUrl[]" value="'+data.fileInfo+'">').appendTo($li);
            $li.addClass('upload-state-done');
        });

        // 文件上传失败，现实上传出错。
        uploader.on( 'uploadError', function( file ) {
            var $li = $( '#'+file.id ),
                $error = $li.find('div.error');

            // 避免重复创建
            if ( !$error.length ) {
                $error = $('<div class="error"></div>').appendTo( $li );
            }

            $error.text('上传失败');
        });

        // 完成上传完了，成功或者失败，先删除进度条。
        uploader.on( 'uploadComplete', function( file ) {
            $( '#'+file.id ).find('.progress').remove();
        });
    });
</script>
</html>