<!DOCTYPE html>
<html>
@layout("/layout/_form_layout.html"){
<link href="/css/plugins/layer/laydate.css" rel="stylesheet" type="text/css">
<link href="/css/plugins/webuploader/webuploader.css" rel="stylesheet" type="text/css">
<style>
    .upload-error{
        color:#a94442;;
    }
    .red{
        color: red;
    }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="col-lg-12">
                    <h2 class="col-sm-offset-1" style="margin-bottom: 20px;">
                        ${item.itemName}
                    </h2>
                </div>
                <form class="form-horizontal m-t" id="viladate_form">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            @for(certificate in certificates){
                            <div class="form-group">
                                <label class="col-sm-5 control-label">${certificate.certificateName}：</label>
                                <div class="col-sm-7">
                                    <div class="uploader">
                                        <!--用来存放item-->
                                        <input type="hidden" class="change_flag" name="change_${certificate.certificateId}" value="0" />
                                        <div id="fileList-${certificate.certificateId}" c-id="${certificate.certificateId}" class="uploader-list">
                                            @if(certificate.companyUserCertificates!=null){
                                            @for(img in certificate.companyUserCertificates){
                                            <div id="WU_F_${img.companyUserCertificateId}" class="file-item thumbnail upload-state-done">
                                                <img src="${ctxPath}/talent${img.imgUrl}">
                                                <div class="file-panel" style="height: 0px;"><span class="cancel">删除</span></div>
                                                <input type="hidden" name="certificateId[]" value="${img.certificateId}">
                                                <input type="hidden" name="imgUrl[]" value="${img.imgUrl}">
                                            </div>
                                            @}
                                            @}
                                        </div>
                                        <div class="filePicker" c-id="${certificate.certificateId}">选择图片</div>
                                    </div>
                                </div>
                            </div>
                            @}
                        </div>

                        <div class="col-sm-8">
                            <table class="table table-bordered table-striped">
                                <tbody>
                                <tr>
                                    <th width="160">姓名</th>
                                    <td>${user.realName}</td>
                                    <th>性别：</th>
                                    <td width="210">
                                        @if(cui.companyUserSex==0){
                                        女
                                        @}else{
                                        男
                                        @}
                                    </td>
                                    <th>出生日期</th>
                                    <td>${cui.companyUserBirthday,"yyyy-MM-dd"}</td>
                                </tr>
                                <tr>
                                    <th>在申请单位开始工作时间</th>
                                    <td>${cui.companyUserWorkStart,"yyyy-MM-dd"}</td>
                                    <th>婚姻状况</th>
                                    <td>
                                        @if(cui.companyUserMarriage){
                                        是
                                        @}else{
                                        否
                                        @}
                                    </td>
                                    <th>身份证号</th>
                                    <td>${cui.companyUserCard}</td>
                                </tr>
                                <tr>
                                    <th>户籍地址</th>
                                    <td colspan="2">${cui.companyUserHomeProvince} ${cui.companyUserHomeCity} ${cui.companyUserHomeDistrict} ${cui.companyUserHomeAddress}</td>
                                    <th>在沪居住地址</th>
                                    <td colspan="2">${cui.companyUserHuAddress}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>单位全称</th>
                                    <td colspan="2">${company.companyName}</td>
                                    <th>现任职务</th>
                                    <td colspan="2"
                                    >${cui.companyUserPost}</td>
                                </tr>

                                <tr>
                                    <th>最高职称</th>
                                    <td colspan="2">
                                        @if(cui.companyUserPositional==0){
                                        初级——${cui.positionaName}
                                        @}else if(cui.companyUserPositional==1){
                                        中级——${cui.positionaName}
                                        @}else if(cui.companyUserPositional==2){
                                        高级——${cui.positionaName}
                                        @}else{
                                        无
                                        @}

                                    </td>
                                    <th>最高职业技能职称</th>
                                    <td colspan="2">
                                        @if(cui.companyUserPositionalSkill==0){
                                        初级——${cui.positionaSkillName}
                                        @}else if(cui.companyUserPositionalSkill==1){
                                        中级——${cui.positionaSkillName}
                                        @}else if(cui.companyUserPositionalSkill==2){
                                        高级——${cui.positionaSkillName}
                                        @}else{
                                        无
                                        @}

                                    </td>
                                </tr>
                                <tr>
                                    <th>毕业院校</th>
                                    <td colspan="2">${cui.companyUserSchool}</a>
                                    </td>
                                    <th>毕业时间</th>
                                    <td colspan="2">${cui.companyUserGraduation,"yyyy-MM-dd"}</td>
                                </tr>
                                <tr>
                                    <th>学历</th>
                                    <td colspan="2"
                                    >
                                        @if(cui.companyUserEducation==0){
                                        中专
                                        @}else if(cui.companyUserEducation==1){
                                        本科
                                        @}else if(cui.companyUserEducation==2){
                                        研究生
                                        @}else if(cui.companyUserEducation==3){
                                        博士
                                        @}else if(cui.companyUserEducation==4){
                                        博士后
                                        @}
                                    </td>
                                    <th>学位</th>
                                    <td colspan="2"
                                    >
                                        @if(cui.companyUserDegree==0){
                                        学士
                                        @}else if(cui.companyUserDegree==1){
                                        硕士
                                        @}else if(cui.companyUserDegree==2){
                                        博士
                                        @}
                                    </td>

                                </tr>
                                <tr>
                                    <th>银行卡号</th>
                                    <td @if(ics.company_user_bank_no==1){
                                        class="have-change"
                                        @}
                                        colspan="2"
                                    >${cui.companyUserBankNo}
                                    </td>
                                    <th>开户行地址</th>
                                    <td @if(ics.company_user_bank==1){
                                        class="have-change"
                                        @}
                                        colspan="2">${cui.companyUserBank}
                                    </td>

                                </tr>
                                <tr>
                                    <th>工作年限</th>
                                    <td colspan="2"
                                    >${cui.companyUserWorkLength}</td>
                                </tr>



                                </tbody>
                            </table>

                        </div>

                    </div>


                    @if(talentTypes!=null){
                    <div class="form-group">
                        <label class="col-sm-2 control-label">人才分类：</label>
                        <div class="col-sm-10">
                            @for(talentType in talentTypes){
                            <div class="checkbox checkbox-info checkbox-circle checkbox-inline">
                                <input type="radio" id="i_${talentType.talentTypeId}" name="talentType" value="${talentType.talentTypeId}">
                                <label for="i_${talentType.talentTypeId}"> ${talentType.talentTypeName}
                                    </label>
                            </div>
                            @}
                        </div>

                        <div class="col-sm-10 col-sm-offset-2" style="margin-top: 10px;">
                            <div>请正确选择与你实际情况相符的选项</div>
                        </div>
                    </div>
                    @}

                    @if(ic.itemId==3){
                    <div class="form-group">
                        <label for="month_salary" class="col-sm-2 control-label">税前工资薪金和劳务所得总额：</label>
                        <div class="col-sm-4">
                            <input id="month_salary" placeholder="税前工资薪金和劳务所得总额" name="monthSalary"
                                   class="form-control" type="text" value="${cui.monthSalary}" required>
                            <div class="help-block red m-b-none"><i class="fa fa-info-circle"></i> 请填写${ic.itemNeedYear}年度的在本单位的税前工资薪金和劳务所得总额</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="total_tax" class="col-sm-2 control-label">在现单位期间缴纳个人所得税总额：</label>
                        <div class="col-sm-4">
                            <input id="total_tax" placeholder="在现单位期间缴纳个人所得税总额" name="totalTax"
                                   class="form-control" type="text" value="${cui.totalTax}" required>
                            <div class="help-block red m-b-none"><i class="fa fa-info-circle"></i> 请填写${ic.itemNeedYear}年度的在本单位的缴税总额</div>
                        </div>
                    </div>
                    @}

                    <div class="form-group">
                        <label class="col-sm-2 control-label">本次劳动合同起始时间：</label>
                        <div class="col-sm-4">
                            <input id="user_contract_time" placeholder="请选择合同起始时间" name="userContractTime"
                                   class="form-control" type="text"
                                   @if(cui.companyUserContractTimeBegin!=null && cui.companyUserContractTimeEnd!=null){
                                   value='${cui.companyUserContractTimeBegin,"yyyy-MM-dd"} 至 ${cui.companyUserContractTimeEnd,"yyyy-MM-dd"}'
                                   @}else{
                                   value=""
                                   @}
                                   required>
                            <div class="help-block m-b-none"><i class="fa fa-info-circle"></i> 如自${ic.itemNeedYear}-01-01至现在有多分劳动合同,请上传多分劳动合同扫描件</div>
                        </div>
                    </div>

                    @if(ic.ifHouse){
                    <div style="width: 1200px;">
                        <HR align=center width=1200 color=#696969 SIZE=10 style="margin-bottom: 5px;">
                        <div style="font-size: 14px;color: rgba(12,30,38,0.28); font-weight: bold; padding-left: 20px;">
                            住房信息
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">类型：</label>
                        <div class="col-sm-6">
                            <select name="companyUserHouseType" id="company-user-house-type" class="col-sm-4 form-control" required>
                                <option @if(cui.companyUserHouseType==0){
                                        selected
                                        @}
                                        value="0">租房</option>
                                <option @if(cui.companyUserHouseType==1){
                                        selected
                                        @}
                                        value="1">购房</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">租房合同起始日期：</label>
                        <div class="col-sm-6">
                            <input  placeholder="请选择合同起始时间" name="userHouseContractTime" id="user-house-contract-time" class="form-control" type="text"
                                    @if(cui.companyUserHouseContractTimeBegin!=null && cui.companyUserHouseContractTimeEnd!=null){
                                    value='${cui.companyUserHouseContractTimeBegin,"yyyy-MM-dd"} 至 ${cui.companyUserHouseContractTimeEnd,"yyyy-MM-dd"}'
                                    @}else{
                                    value=""
                                    @}
                                    required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">价格：</label>
                        <div class="col-sm-6">
                            <input name="companyUserHousePrice" id="company-user-house-price" placeholder="" class="form-control" value="${cui.companyUserHousePrice}" type="number" required>
                        </div>
                    </div>

                    <div class="form-group" id="house-area" style="display: none">
                        <label class="col-sm-3 control-label">房屋面积：</label>
                        <div class="col-sm-6">
                            <input name="companyUserHouseArea" id="company-user-house-area" placeholder="" class="form-control" value="${cui.companyUserHouseArea}" type="number" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">本人及购房合同其余人员在上海是否被限制购房：</label>
                        <div class="col-sm-6">
                            <div class="i-checks">
                                <label>
                                    <input type="radio" value="1" @if(cui.companyUserNotBuyHouse==null || cui.companyUserNotBuyHouse){
                                           checked
                                           @}
                                           name="companyUserNotBuyHouse"> <i></i> 是</label>&nbsp;&nbsp;
                                <label>
                                    <input type="radio" value="0" @if(cui.companyUserNotBuyHouse!=null && !cui.companyUserNotBuyHouse){
                                           checked
                                           @}
                                           name="companyUserNotBuyHouse"> <i></i> 否</label>&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">本人（及配偶）是否享受过奉贤区人才购房相关政策：</label>
                        <div class="col-sm-6">
                            <div class="i-checks">
                                <label>
                                    <input type="radio" value="1" @if(cui.companyUserHaveAccept==null || cui.companyUserHaveAccept){
                                           checked
                                           @}
                                           name="companyUserHaveAccept"> <i></i> 是</label>&nbsp;&nbsp;
                                <label>
                                    <input type="radio" value="0" @if(cui.companyUserHaveAccept!=null && !cui.companyUserHaveAccept){
                                           checked
                                           @}
                                           name="companyUserHaveAccept"> <i></i> 否</label>&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                    @}

                    @if(ic.ifSave){
                    <div style="width: 1200px;">
                        <HR align=center width=1200 color=#696969 SIZE=10 style="margin-bottom: 5px;">
                        <div style="font-size: 14px;color: rgba(12,30,38,0.28); font-weight: bold; padding-left: 20px;">
                            社保信息
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">社保缴费基数：</label>
                        <div class="col-sm-4">
                            <input placeholder="请选择起始时间" id="user-society-save-time1" name="userSocietySaveTime1"
                                   class="form-control user_society_save_time nx" type="text"
                                   @if(cui.companyUserSocietySaveTime1Begin!=null && cui.companyUserSocietySaveTime1End!=null){
                                   value='${cui.companyUserSocietySaveTime1Begin,"yyyy-MM-dd"} 至 ${cui.companyUserSocietySaveTime1End,"yyyy-MM-dd"}'
                                   @}else{
                                   value=""
                                   @}
                                   required>
                            <div class="help-block m-b-none"><i class="fa fa-info-circle"></i> 请填写${ic.itemNeedYear}年度的社保缴费情况</div>
                        </div>
                        <div class="col-sm-3">
                            <input placeholder="缴费基数" name="companyUserSocietySave1"
                                   class="form-control nx" type="text" value="${cui.companyUserSocietySave1}" required>
                            <div class="m-t3 red help-block m-b-none"><i class="fa fa-info-circle"></i> 以${ic.itemNeedYear}年4月份后缴费标准为准</div>
                        </div>

                        <!--<div class="col-sm-4 col-sm-offset-3" style="margin-top: 10px;">
                            <input placeholder="请选择起始时间" id="user-society-save-time2" name="userSocietySaveTime2"
                                   class="form-control user_society_save_time nx" type="text"
                                   @if(cui.companyUserSocietySaveTime2Begin!=null && cui.companyUserSocietySaveTime2End!=null){
                                   value='${cui.companyUserSocietySaveTime2Begin,"yyyy-MM-dd"} 至 ${cui.companyUserSocietySaveTime2End,"yyyy-MM-dd"}'
                                   @}else{
                                   value=""
                                   @}
                                   required>
                        </div>

                        <div class="col-sm-3" style="margin-top: 10px;">
                            <input placeholder="缴费基数" name="companyUserSocietySave2"
                                   class="form-control nx" type="text" value="${cui.companyUserSocietySave2}" required>
                        </div>-->
                    </div>
                    @}

                    @if(ic.ifTax){
                    <div style="width: 1200px;">
                        <HR align=center width=1200 color=#696969 SIZE=10 style="margin-bottom: 5px;">
                        <div style="font-size: 14px;color: rgba(12,30,38,0.28); font-weight: bold; padding-left: 20px;">
                            缴税信息
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">个税缴费基数：</label>
                        <div class="col-sm-4">
                            <input placeholder="请选择起始时间" id="user-iit" name="userIitTime"
                                   class="form-control nx" type="text"
                                   @if(cui.companyUserIitBegin!=null && cui.companyUserIitEnd!=null){
                                   value='${cui.companyUserIitBegin,"yyyy-MM-dd"} 至 ${cui.companyUserIitEnd,"yyyy-MM-dd"}'
                                   @}else{
                                   value=""
                                   @}
                                   required>
                            <div class="m-t3 help-block m-b-none"><i class="fa fa-info-circle"></i> 请填写${ic.itemNeedYear}年度的个税缴费基数</div>
                        </div>
                    </div>
                    @}

                    @if(ic.ifChild){
                    <div style="width: 1200px;">
                        <HR align=center width=1200 color=#696969 SIZE=10 style="margin-bottom: 5px;">
                        <div style="font-size: 14px;color: rgba(12,30,38,0.28); font-weight: bold; padding-left: 20px;">
                            家庭成员
                        </div>
                        <div id="add-family" class="btn btn-sm btn-primary" style="float: right; margin-right: 20px;">
                            <i class="fa fa-plus"></i>
                        </div>
                    </div>
                    <div id="familys" style="min-height: 80px;">
                        @if(companyUserFamilies==null){
                        <div class="col-sm-12 form-group">
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">家庭成员关系：</label>
                                    <div class="col-sm-6">
                                        <select name="companyUserFamilyType[]" class="col-sm-4 form-control" required>
                                            <option value="">--请选择--</option>
                                            <option value="0">子女</option>
                                            <option value="1">配偶</option>
                                            <option value="2">直系亲属</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">姓名：</label>
                                    <div class="col-sm-6">
                                        <input name="companyUserFamilyName[]" value="" class="form-control" type="text" autocomplete="off" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">身份证：</label>
                                    <div class="col-sm-6">
                                        <input name="companyUserFamilyCard[]" value="" class="form-control" type="text" autocomplete="off" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label" style="padding-top: 2px;">性别：</label>
                                    <div class="col-sm-6">
                                        <select name="companyUserFamilySex[]" class="col-sm-4 form-control" required>
                                            <option value="">--请选择--</option>
                                            <option value="0">男</option>
                                            <option value="1">女</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <HR align=center width=700 SIZE=10>
                        </div>
                        @}else{
                        @for(companyUserFamily in companyUserFamilies){
                        <div class="col-sm-12 form-group">
                            <div class="col-sm-10">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">家庭成员关系：</label>
                                    <div class="col-sm-8">
                                        <select name="companyUserFamilyType[]" class="col-sm-4 form-control" required>
                                            <option value="">--请选择--</option>
                                            <option @if(companyUserFamily.companyUserFamilyType==0){
                                                    selected
                                                    @}
                                                    value="0">子女</option>
                                            <option @if(companyUserFamily.companyUserFamilyType==1){
                                                    selected
                                                    @}
                                                    value="1">配偶</option>
                                            <option @if(companyUserFamily.companyUserFamilyType==2){
                                                    selected
                                                    @}
                                                    value="2">直系亲属</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">姓名：</label>
                                    <div class="col-sm-8">
                                        <input name="companyUserFamilyName[]" value="${companyUserFamily.companyUserFamilyName}" class="form-control" type="text" autocomplete="off" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">身份证：</label>
                                    <div class="col-sm-8">
                                        <input name="companyUserFamilyCard[]" value="${companyUserFamily.companyUserFamilyCard}" class="form-control" type="text" autocomplete="off" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label" style="padding-top: 2px;">性别：</label>
                                    <div class="col-sm-8">
                                        <select name="companyUserFamilySex[]" class="col-sm-4 form-control" required>
                                            <option value="">--请选择--</option>
                                            <option @if(companyUserFamily.companyUserFamilySex==0){
                                                    selected
                                                    @}
                                                    value="0">男</option>
                                            <option @if(companyUserFamily.companyUserFamilySex==1){
                                                    selected
                                                    @}
                                                    value="1">女</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2" onclick="delFamily(this)" style="margin-top: 75px;">
                                <div class="btn btn-sm btn-danger btn-circle btn-outline">
                                    <i class="fa fa-minus"></i>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <HR align=center width=700 SIZE=10>
                        </div>
                        @}
                        @}

                    </div>
                    @}

                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-2">
                            <a class="btn btn-primary" id="submit">提交</a>
                            <input type="hidden" name="itemId" value="${itemId}" />
                            <div class="btn btn-white" onclick="window.history.go(-1)">取消</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@}
</body>
<script src="/js/plugins/layer/laydate/laydate.js"></script>
<script src="/js/plugins/webuploader/webuploader.js"></script>
<script type="text/javascript">

    toastr.options = {
        "closeButton": true,
        "debug": true,
        "progressBar": false,
        "positionClass": "toast-top-center",
        "showDuration": "400",
        "hideDuration": "1000",
        "timeOut": "3500",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }

    $('#submit').click(function () {
        var check = true;
        $('.uploader-list').each(function (i,e) {
            if($(e).children('.upload-state-done').length==0){
                var error = '<span class="help-block upload-error"><i class="fa fa-times-circle"></i> 请上传 '+$(e).parent().parent().prev().html().replace("：","")+'</span>';
                $(e).html(error);
                check = false;
            }
        });

        $('input[required]').each(function (i,e) {
            if($(e).val()=="" || $(e).val==null){
                check = false;
                $(e).parent().parent().addClass("has-error");
                $(e).parent().append('<span id="company_user_bank-error" class="help-block m-b-none"><i class="fa fa-times-circle"></i>  必填</span>');
            }
        });

        $('input[required]').change(function () {
            if($(this).val()!="" && $(this).val!=null){
                $(this).parent().parent().removeClass("has-error");
                $(this).next().remove();
                check = true;
            }
        });

        if(check){
            $.ajax({
                type: "POST",
                url: "${ctxPath}/company_user/ask_for",
                data: $('#viladate_form').serialize(),
                success: function (data) {
                    if (data['status'] == 1) {
                        toastr.success(data['body']);
                        setTimeout('window.location.href="/company_user/items.html"', 1000);
                    } else {
                        toastr.error(data['body']);
                    }
                }
            });
        }
    });

    $('input[required]').parent().prev().append(
        '<span style="color:red">*</span>');

    $('select[required]').parent().prev().append(
        '<span style="color:red">*</span>');

    $('.nx').parent().children("span").remove();

    laydate.render({
        elem: '#user-house-contract-time',
        range: '至',
        format: 'yyyy-MM-dd',
        min: '${ic.itemNeedYear}-1-1'
        ,max: '${ic.itemNeedYear}-12-31'
    });

    laydate.render({
        elem: '#user_contract_time',
        range: '至',
        format: 'yyyy-MM-dd'
    });

    laydate.render({
        elem: '#user-society-save-time1',
        range: '至',
        format: 'yyyy-MM-dd',
        min: '${ic.itemNeedYear}-1-1'
        ,max: '${ic.itemNeedYear}-12-31'
    });
    laydate.render({
        elem: '#user-society-save-time2',
        range: '至',
        format: 'yyyy-MM-dd',
        min: '${ic.itemNeedYear}-1-1'
        ,max: '${ic.itemNeedYear}-12-31'
    });
    laydate.render({
        elem: '#user-iit',
        range: '至',
        format: 'yyyy-MM-dd',
        min: '${ic.itemNeedYear}-1-1'
        ,max: '${ic.itemNeedYear}-12-31'
    });

    $('#company-user-house-type').change(function () {
        if($('#company-user-house-type').val()==0){
            $('#user-house-contract-time').attr("readonly",false);
            $('#company-user-house-price').val("")
            $('#company-user-house-price').attr("placeholder","请输入每月租金")
            $('#house-area').hide();
            $('#company-user-house-area').attr("required", false);
        }else{
            $('#user-house-contract-time').attr("readonly",true);
            $('#company-user-house-price').val("")
            $('#company-user-house-price').attr("placeholder","请输入购房总价")
            $('#house-area').show();
            $('#company-user-house-area').attr("required", true);
        }
    });

    if($('#company-user-house-type').val()==0){
        $('#user-house-contract-time').attr("readonly",false);
        $('#company-user-house-price').attr("placeholder","请输入每月租金")
        $('#house-area').hide();
        $('#company-user-house-area').attr("required", false);
    }else{
        $('#user-house-contract-time').attr("readonly",true);
        $('#company-user-house-price').attr("placeholder","请输入购房总价")
        $('#house-area').show();
        $('#company-user-house-area').attr("required", true);
    }

   /* $.validator.setDefaults({
        highlight: function (e) {
            $(e).closest(".form-group").removeClass("has-success").addClass("has-error")
        }, success: function (e) {
            e.closest(".form-group").removeClass("has-error").addClass("has-success")
        }, errorElement: "span", errorPlacement: function (e, r) {
            e.appendTo(r.is(":radio") || r.is(":checkbox") ? r.parent().parent().parent() : r.parent())
        }, errorClass: "help-block m-b-none", validClass: "help-block m-b-none"
    }), $().ready(function () {
        // $("#commentForm").validate();
        $(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",});
        var e = "<i class='fa fa-times-circle'></i> ";
        $("#viladate_form").validate({
            rules: {
                userName: {
                    required: true,
                    remote: {
                        url: "${ctxPath}/checkUnique",
                        data:{
                            user_name:function(){
                                return $("#user_name").val();
                            },
                            table:function(){
                                return "talent_user";
                            }
                        }
                    }
                },
                password:{
                    required: true
                },
                comfirmPassword:{
                    required: true,
                    equalTo: "#password"
                }
            },
            messages: {
                userName: {
                    required: e + "请输入名称",
                    remote: e + "该用户名已存在"
                },
                password:{
                    required: e + "请输入用户密码"
                },
                comfirmPassword:{
                    required: e + "请确认密码",
                    equalTo: e + "两次密码不一致"
                }
            },
            submitHandler: function() {
                $.ajax({
                    type : "POST",
                    url:"${ctxPath}/company_user/add_user",
                    data : $('#viladate_form').serialize(),
                    success: function(data){
                        if(data['status']==1){
                            toastr.success(data['body']);
                            setTimeout('window.location.href="/company_user/index.html?"',900);
                        }else{
                            toastr.success(data['body']);
                        }
                    }
                });
            }
        }),$('input[required]').parent().prev().append(
            '<span style="color:red">*</span>'
        ),$('.nx').parent().children("span").remove();
    });
    <span id="company_user_bank-error" class="help-block m-b-none"><i class="fa fa-times-circle"></i>  必填</span>
*/
    jQuery(function() {


        var $ = jQuery,
            $list,
            // 优化retina, 在retina下这个值是2
            ratio = window.devicePixelRatio || 1,

            // 缩略图大小
            thumbnailWidth = 100 * ratio,
            thumbnailHeight = 100 * ratio,

            // Web Uploader实例
            uploader;
        $(".filePicker").click(function () {
            $list = $("#fileList-"+$(this).attr('c-id'));
        });

        $('.upload-state-done').on( 'mouseenter', function() {
            // console.log($(this).parent('.file-panel'));
            $(this).children('.file-panel').stop().animate({height: 30});
        });

        $('.upload-state-done').on( 'mouseleave', function() {
            // console.log($(this).parent('.file-panel'));
            $(this).children('.file-panel').stop().animate({height: 0});
        });

        $('.cancel').on('click',function () {
            removeFile( $(this) );
        });
        // 初始化Web Uploader
        uploader = WebUploader.create({

            // 自动上传。
            auto: true,

            // swf文件路径
            swf: '/js/Uploader.swf',

            // 文件接收服务端。
            server: '/upload_img',

            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick: '.filePicker',

            // 只允许选择文件，可选。
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            },
            compress:{
                width: 1000,
                height: 1000,

                // 图片质量，只有type为`image/jpeg`的时候才有效。
                quality: 80,

                // 是否允许放大，如果想要生成小图的时候不失真，此选项应该设置为false.
                allowMagnify: false,

                // 是否允许裁剪。
                crop: false,

                // 是否保留头部meta信息。
                preserveHeaders: true,

                // 如果发现压缩后文件大小比原来还大，则使用原来图片
                // 此属性可能会影响图片自动纠正功能
                noCompressIfLarger: false,

                // 单位字节，如果图片大小小于此值，不会采用压缩。
                compressSize: 1*1024*1024,

                fileSingleSizeLimit:1*1024*1024
            }
        });

        // 当有文件添加进来的时候
        uploader.on( 'fileQueued', function( file ) {
            var fileId = 'WU_FILE_'+$('.upload-state-done').length;
            // var fileId = 'WU_FILE_'+$list.children('.upload-state-done').length;
            var $li = $(
                '<div id="' + fileId + '" class="file-item thumbnail">' +
                '<img>' +
                '</div>'
                ),
                $btns = $('<div class="file-panel">' +
                    '<span class="cancel">删除</span>').appendTo( $li ),
                $img = $li.find('img');

            $li.on( 'mouseenter', function() {
                $btns.stop().animate({height: 30});
            });

            $li.on( 'mouseleave', function() {
                $btns.stop().animate({height: 0});
            });

            $btns.on( 'click', 'span', function() {
                var index = $(this).index(),
                    deg;
                switch ( index ) {
                    case 0:
                        removeFile( $(this) );
                        // removeFile( file );
                        return;
                }

                if ( supportTransition ) {
                    deg = 'rotate(' + file.rotation + 'deg)';
                    $wrap.css({
                        '-webkit-transform': deg,
                        '-mos-transform': deg,
                        '-o-transform': deg,
                        'transform': deg
                    });
                } else {
                    $wrap.css( 'filter', 'progid:DXImageTransform.Microsoft.BasicImage(rotation='+ (~~((file.rotation/90)%4 + 4)%4) +')');
                }
            });

            $list.append( $li );

            // 创建缩略图
            uploader.makeThumb( file, function( error, src ) {
                if ( error ) {
                    $img.replaceWith('<span>不能预览</span>');
                    return;
                }

                $img.attr( 'src', src );
            }, thumbnailWidth, thumbnailHeight );
        });

        uploader.on('ready', function() {
            window.uploader = uploader;
        });

        function removeFile( obj ) {
            console.log(obj);
            // var fileId = 'WU_FILE_'+$('.upload-state-done').length;
            // var $li = $('#'+cui.id);
            // $li.off().find('.file-panel').off().end().remove();
            $(obj).parent().parent().parent().prev().val('1');
            $(obj).parent().parent().remove();
        }



        // 文件上传过程中创建进度条实时显示。
        uploader.on( 'uploadProgress', function( file, percentage ) {
            var $li = $( '#'+file.id ),
                $percent = $li.find('.progress span');

            // 避免重复创建
            if ( !$percent.length ) {
                $percent = $('<p class="progress"><span></span></p>')
                    .appendTo( $li )
                    .find('span');
            }

            $percent.css( 'width', percentage * 100 + '%' );
        });

        // 文件上传成功，给item添加成功class, 用样式标记上传成功。
        uploader.on( 'uploadSuccess', function( file,data ) {
            var fileId = 'WU_FILE_'+$('.upload-state-done').length;
            // var fileId = 'WU_FILE_'+$list.children('.upload-state-done').length;
            var $li = $( '#'+ fileId);
            $li.parent().prev().val('1');
            $li.prev('.upload-error').remove();
            $('<input type="hidden" name="certificateId[]" value="'+$list.attr("c-id")+'">' +
                '<input type="hidden" name="imgUrl[]" value="'+data.fileInfo+'">').appendTo($li);
            $li.addClass('upload-state-done');
        });

        // 文件上传失败，现实上传出错。
        uploader.on( 'uploadError', function( file ) {
            var $li = $( '#'+file.id ),
                $error = $li.find('div.error');

            // 避免重复创建
            if ( !$error.length ) {
                $error = $('<div class="error"></div>').appendTo( $li );
            }

            $error.text('上传失败');
        });

        uploader.on("error",function (type){
            if(type == "Q_EXCEED_SIZE_LIMIT"){
                alert("所选图片不能超过1M，请压缩后重新上传");
            }

        });

        // 完成上传完了，成功或者失败，先删除进度条。
        uploader.on( 'uploadComplete', function( file ) {
            $( '#'+file.id ).find('.progress').remove();
        });
    });

    function delFamily(v) {
        $(v).parent().next().remove();
        $(v).parent().remove();
    }

    $("#add-family").click(function () {
        var content = "";
        content+='<div class="col-sm-12 form-group">';
        content+='<div class="col-sm-10">';
        content+='<div class="form-group">';
        content+='<label class="col-sm-3 control-label">家庭成员关系：</label>';
        content+='<div class="col-sm-6">';
        content+='<select name="companyUserFamilyType[]" class="col-sm-4 form-control">';
        content+='<option value="">--请选择--</option>';
        content+='<option value="0">子女</option>';
        content+='<option value="1">配偶</option>';
        content+='<option value="2">直系亲属</option>';
        content+='</select>';
        content+='</div>';
        content+='</div>';
        content+='<div class="form-group">';
        content+='<label class="col-sm-3 control-label">姓名：</label>';
        content+='<div class="col-sm-6">';
        content+='<input name="companyUserFamilyName[]" class="form-control" type="text" autocomplete="off">';
        content+='</div>';
        content+='</div>';
        content+='<div class="form-group">';
        content+='<label class="col-sm-3 control-label">身份证：</label>';
        content+='<div class="col-sm-6">';
        content+='<input name="companyUserFamilyCard[]" class="form-control" type="text" autocomplete="off">';
        content+='</div>';
        content+='</div>';
        content+='<div class="form-group">';
        content+='<label class="col-sm-3 control-label">性别：</label>';
        content+='<div class="col-sm-6">';
        content+='<select name="companyUserFamilySex[]" class="col-sm-4 form-control">';
        content+='<option value="">--请选择--</option>';
        content+='<option value="0">男</option>';
        content+='<option value="1">女</option>';
        content+='</select>';
        content+='</div>';
        content+='</div>';
        content+='</div>';
        content+='<div class="col-sm-2" onclick="delFamily(this)" style="margin-top: 75px;">';
        content+='<div class="btn btn-sm btn-danger btn-circle btn-outline">';
        content+='<i class="fa fa-minus"></i>';
        content+='</div>';
        content+='</div>';
        content+='</div>';
        content+='<div class="form-group">';
        content+='<HR align=center width=700 SIZE=10>';
        content+='</div>';
        $("#familys").append(content);
    });
</script>
</html>