<!DOCTYPE html>
<html>
@layout("/layout/_form_layout.html"){
<link href="/css/plugins/layer/laydate.css" rel="stylesheet" type="text/css">
<div class="row">
    <div class="col-sm-6">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <form class="form-horizontal m-t" id="viladate_form">
                    <div class="form-group">
                        <label for="company_user_name" class="col-sm-4 control-label">姓名：</label>
                        <div class="col-sm-8">
                            <input id="company_user_name" name="companyUserName" class="form-control" type="text" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" style="padding-top: 2px;">性别：</label>
                        <div class="col-sm-8">
                            <div class="i-checks">
                                <label>
                                    <input type="radio" value="1" checked name="companyUserSex"> <i></i> 男</label>&nbsp;&nbsp;
                                <label>
                                    <input type="radio" value="0" name="companyUserSex"> <i></i> 女</label>&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="company_user_birthday" class=" col-sm-4 control-label">生日：</label>
                        <div class="col-sm-8">
                            <input id="company_user_birthday"  name="companyUserBirthday"  class="form-control" type="text" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="company_user_work_length" class="col-sm-4 control-label">工作年限：</label>
                        <div class="col-sm-8">
                            <input id="company_user_work_length"  class="form-control" type="number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="company_user_card" class="col-sm-4 control-label">身份证：</label>
                        <div class="col-sm-8">
                            <input id="company_user_card" name="companyUserCard" class="form-control" type="text" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="company_user_home_address" class="col-sm-4 control-label">户籍地址：</label>
                        <div class="col-sm-8">
                            <!--<select id="province_selector" class="bd-filter__select">省</select>
                            <select id="city_selector" class="bd-filter__select">市/区</select>
                            <select id="district_selector" class="bd-filter__select">镇</select>-->
                            <input id="company_user_home_address" name="companyUserHomeDistrict" v class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="company_user_hu_address" class="col-sm-4 control-label">在沪地址：</label>
                        <div class="col-sm-8">
                            <input id="company_user_hu_address" name="companyUserHomeAddress"  class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="company_user_school" class="col-sm-4 control-label">毕业院校：</label>
                        <div class="col-sm-8">
                            <input id="company_user_school"  name="companyUserSchool"  class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="company_user_graduation" class="col-sm-4 control-label">毕业时间：</label>
                        <div class="col-sm-8">
                            <input id="company_user_graduation"  name="companyUserGraduation"  class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="company_user_education" class="col-sm-4 control-label">最高学历：</label>
                        <div class="col-sm-8">
                            <select  name="companyUserEducation" id="company_user_education" class="form-control">
                                <option selected="selected" value="">--请选择--</option>
                                <option value="0">中专</option>
                                <option value="1">本科</option>
                                <option value="2">研究生</option>
                                <option value="3">博士</option>
                                <option value="4">博士后</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="company_user_positional" class="col-sm-4 control-label">最高职称：</label>
                        <div class="col-sm-8">
                            <select  name="companyUserPositional" id="company_user_positional" class="form-control">
                                <option selected="selected" value="">--请选择--</option>
                                <option value="0">初级</option>
                                <option value="1">中级</option>
                                <option value="2">高级</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="company_user_post" class="col-sm-4 control-label">职务：</label>
                        <div class="col-sm-8">
                            <input id="company_user_post" name="companyUserPost" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="company_user_mobel" class="col-sm-4 control-label">手机号码：</label>
                        <div class="col-sm-8">
                            <input id="company_user_mobel"  name="companyUserMobel"  class="form-control" type="number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="company_user_tel" class="col-sm-4 control-label">固定电话：</label>
                        <div class="col-sm-8">
                            <input id="company_user_tel"  name="companyUserTel"  class="form-control" type="number">
                        </div>
                    </div>
                    <!--分割线-->
                    <div>
                        <HR align=center width=1000 color=#696969 SIZE=10>
                    </div>
                    <div class="form-group">
                            <label  class="col-sm-4 control-label">劳动合同期限(起始～终止)：</label>
                            <div  class="col-sm-8">
                                <div class="div1"style="width:45%;"><input id="company_user_contract_time_begin"  name="companyUserContractTimeBegin"  class="form-control" type="text"></div>
                                <div class="div2"style="width:10%;"><hr style="height:1px;border:none;border-top:1px solid  #696969 ;" /></div>
                                <div class="div3"style="width:45%;"><input id="company_user_contract_time_end"   name="companyUserContractTimeEnd" class="form-control" type="text"></div>
                            </div>
                    </div>
                    <div class="form-group">
                        <label for="company_user_bank_no" class="col-sm-4 control-label">申请人银行卡号：</label>
                        <div class="col-sm-8">
                            <input id="company_user_bank_no"  name="companyUserBankNo"  class="form-control" type="number" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="company_user_bank" class="col-sm-4 control-label">开户行地址：</label>
                        <div class="col-sm-8">
                            <input id="company_user_bank"  name="companyUserBank"  class="form-control" type="text" required>
                        </div>
                    </div>
                    <!--分割线-->
                    <div>
                        <HR align=center width=1000 color=#696969 SIZE=10>
                    </div>
                    <div class="form-group">
                        <label for="company_user_family_type" class="col-sm-4 control-label">家庭成员关系：</label>
                        <div class="col-sm-8">
                        <select  name="companyUserFamilyType" id="company_user_family_type" class="col-sm-4 form-control">
                            <option selected="selected" value="">--请选择--</option>
                            <option value="0">子女</option>
                            <option value="1">配偶</option>
                            <option value="2">直系亲属</option>
                        </select>
                    </div>
                    </div>

                    <div class="form-group">
                        <label for="company_user_family_name" class="col-sm-4 control-label">姓名：</label>
                        <div class="col-sm-8">
                            <input id="company_user_family_name"  name="companyUserFamilyName"  class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="company_user_family_card" class="col-sm-4 control-label">身份证：</label>
                        <div class="col-sm-8">
                            <input id="company_user_family_card"  name="companyUserFamilyCard"  class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" style="padding-top: 2px;">性别：</label>
                        <div class="col-sm-8">
                            <div class="i-checks">
                                <label>
                                    <input type="radio" value="1" checked name="companyUserFamilySex"> <i></i> 男</label>&nbsp;&nbsp;
                                <label>
                                    <input type="radio" value="0" name="companyUserFamilySex"> <i></i> 女</label>&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                    <!--分割线-->
                    <div>
                        <HR align=center width=1000 color=#696969 SIZE=10>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-4">
                            <button class="btn btn-primary" type="submit">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@}

</body>
<style type="text/css">
    .div1{float:left; display:inline; }
    .div2{float:left; display:inline; }
    .div3{float:left; display:inline; }
</style>
<script src="/js/plugins/layer/laydate/laydate.js"></script>

<script type="text/javascript">

    toastr.options = {
        "closeButton": true,
        "debug": true,
        "progressBar": false,
        "positionClass": "toast-top-center",
        "showDuration": "400",
        "hideDuration": "1000",
        "timeOut": "500",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
    laydate.render({
        elem: '#company_user_birthday',
        format: 'y-MM-dd'
    });

    laydate.render({
        elem: '#company_user_graduation',
        format: 'y-MM-dd'
    });
    laydate.render({
        elem: '#company_user_contract_time_begin',
        format: 'y-MM-dd'
    });
    laydate.render({
        elem: '#company_user_contract_time_end',
        format: 'y-MM-dd'
    });

    $.validator.setDefaults({
        highlight: function (e) {
            $(e).closest(".form-group").removeClass("has-success").addClass("has-error")
        }, success: function (e) {
            e.closest(".form-group").removeClass("has-error").addClass("has-success")
        }, errorElement: "span", errorPlacement: function (e, r) {
            e.appendTo(r.is(":radio") || r.is(":checkbox") ? r.parent().parent().parent() : r.parent())
        }, errorClass: "help-block m-b-none", validClass: "help-block m-b-none"
    }), $().ready(function () {
        // $("#commentForm").validate();
        $(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",});
        var e = "<i class='fa fa-times-circle'></i> ";
        $("#viladate_form").validate({
            rules: {
                companyUserName: {
                    required: true,
                    remote: {
                        url: "${ctxPath}/checkUnique",
                        data:{
                            company_user_name:function(){
                                return $("#company_user_name").val();
                            },
                            table:function(){
                                return "talent_company_user_info";
                            }
                        }
                    }
                },
                password:{
                    required: true
                },
                comfirmPassword:{
                    required: true,
                    equalTo: "#password"
                }
            },
            messages: {
                userName: {
                    required: e + "请输入名称",
                    remote: e + "该用户名已存在"
                },
                password:{
                    required: e + "请输入用户密码"
                },
                comfirmPassword:{
                    required: e + "请确认密码",
                    equalTo: e + "两次密码不一致"
                }
            },
            submitHandler: function() {
                $.ajax({
                    type : "POST",
                    url:"${ctxPath}/company_user/add_info",
                    data : $('#viladate_form').serialize(),
                    success: function(data){
                        debugger;
                        if(data['status']==1){
                            toastr.success(data['body']);
                            setTimeout('window.location.href="/company_user/info.html?"',900);
                        }else{
                            toastr.success(data['body']);
                        }
                    }
                });
            }
        }),$('input[required]').parent().prev().append(
            '<span style="color:red">*</span>'
        );
    });

</script>

<!--<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script>
    /** 省市区三级代码查询 **/
    var DISTRICTS;
    var provinceCode = '',
        cityCode = '',
        districtCode = '';
    //筛选的地区
    var province_selector = $('#province_selector'),
        city_selector = $('#city_selector'),
        district_selector = $('#district_selector');
    var htm = '<option value="">&#45;&#45;&#45;&#45;请选择-&#45;&#45;&#45;&#45;</option>';
    $.ajax({
        type: 'GET',
        url: 'districts.json',
        dataType: 'json'
    }).done(function (res) {
        DISTRICTS = res;
        htm = '<option value="">&#45;&#45;&#45;&#45;请选择-&#45;&#45;&#45;&#45;</option>';
        for (var key in DISTRICTS['100000']) {
            htm += '<option value="' + key + '">' + DISTRICTS['100000'][key] + '</option>';
        }
        province_selector.html(htm);
        city_selector.html('<option value="">&#45;&#45;&#45;&#45;请选择-&#45;&#45;&#45;&#45;</option>');
        district_selector.html('<option value="">&#45;&#45;&#45;&#45;请选择-&#45;&#45;&#45;&#45;</option>');
    }).fail(function () {
        console.log('获取地区json数据失败');
    });

    province_selector.change(function () {
        provinceCode = province_selector.find('option:selected').val();
        console.log(provinceCode);
        htm = '<option value="">&#45;&#45;&#45;&#45;请选择-&#45;&#45;&#45;&#45;</option>';
        for (var key in DISTRICTS[provinceCode]) {
            htm += '<option value="' + key + '">' + DISTRICTS[provinceCode][key] + '</option>';
        }
        city_selector.html(htm);
        district_selector.html('<option value="">&#45;&#45;&#45;&#45;请选择-&#45;&#45;&#45;&#45;</option>');
    });
    city_selector.change(function () {
        cityCode = city_selector.find('option:selected').val();
        console.log(cityCode);
        htm = '<option value="">&#45;&#45;&#45;&#45;请选择-&#45;&#45;&#45;&#45;</option>';
        for (var key in DISTRICTS[cityCode]) {
            htm += '<option value="' + key + '">' + DISTRICTS[cityCode][key] + '</option>';
            district_selector.html(htm);
        }
    });
    district_selector.change(function () {
        districtCode = district_selector.find('option:selected').val();
        console.log(districtCode);
    });

   </script>-->
</html>