<!DOCTYPE html>
<html>
@layout("/layout/_form_layout.html"){
<link href="/css/plugins/layer/laydate.css" rel="stylesheet" type="text/css">
    <body class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-9 col-lg-offset-1">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="text-center article-title">
                            <h1>
                                ${item.itemName}
                            </h1>
                        </div>
                        <div>
                            ${itemConfig.itemConfigContent}
                        </div>
                        <hr>
                        <div>
                            附件：<a href="${ctxPath}/talent${itemConfig.itemConfigConetentAttachment}">${itemConfig.attachmentName}</a>
                        </div>
                        <hr>
                        <div>
                                <div class="pull-left">不能同时享受的政策：</div>
                                @for(uit in userItemTeam){
                                <div class="pull-left" style="margin-right: 15px;">
                                    ${uit.itemName}
                                </div>

                                @}
                        </div>
                    </div>
                </div>
                <div>
                    @if(ifShowSubmitButton){
                        <a href="${ctxPath}/company_user/ask_for.html?itemId=${item.itemId}" class="btn btn-primary" type="submit">申请</a>
                    @}
                    <div class="btn btn-white" onclick="window.history.go(-1)">取消</div>
                </div>
            </div>
        </div>
@}
</body>
</html>