<style>
    .img-circle{
        width: 6.35rem;
    }
</style>
<li class="nav-header">
    <div class="dropdown profile-element">
        <span><img alt="image" class="img-circle" @if(user.headImg==null){
                   src="/img/logo.jpg"
                   @}else{
                   src="/talent/${user.headImg}"
                   @}
        /></span>
        <a class="dropdown-toggle" href="#">
            <span class="clear">
                <span class="block m-t-xs"><strong class="font-bold">${user.userName}</strong></span>
                <span class="text-muted text-xs block">
                    @if(user.userType==0){
                        超级管理员
                    @}else if(user.userType==1){
                        管理员
                    @}else if(user.userType==0){
                        窗口服务人员
                    @}
                </span>
            </span>
        </a>
    </div>
    <div class="logo-element">才+</div>
</li>