<li>
    <a class="J_menuItem" href="/" data-index="4">
        <i class="fa fa-home"></i>
        <span class="nav-label">首页</span>
    </a>
</li>

@for(menu in menus){
    <li>
        @if(isEmpty(menu.childmenus)){
        <a class="J_menuItem" href="${menu.url}">
            <i class="fa ${menu.icoStr}"></i>
            <span class="nav-label">${menu.menuName}</span>
        </a>
        @}else{
        <a href="#">
            <i class="fa ${menu.icoStr}"></i>
            <span class="nav-label">${menu.menuName}</span>
            <span class="fa arrow"></span>
        </a>
        <ul class="nav nav-second-level">
            @for(child in menu.childmenus){
                <li>
                    <a class="J_menuItem" href="${child.url}">
                        <i class="fa ${child.icoStr}"></i>
                        ${child.menuName}
                    </a>
                </li>
            @}
        </ul>
        @}
    </li>
@}