<!DOCTYPE html>
<html>
@include("/common/_head.html") {}
<body class="gray-bg">

    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <div>

            </div>
            <h3>欢迎注册 奉贤区人才中心管理系统</h3>
            <form class="form-horizontal m-t" id="viladate_form" action="/company/reg">
                <div class="form-group">
                    <input type="text" name="userName" value="${userName}" id="user_name" class="form-control" placeholder="请输入用户名" required="">
                    @if(user!=""){
                        <span id="password-error" class="help-block m-b-none pull-left"><i class="fa fa-times-circle"></i> 该用户名已存在</span>
                    @}
                </div>
                <div class="form-group">
                    <input type="password" id="password" value="${password}" name="password" class="form-control" placeholder="请输入密码" required="">
                </div>
                <div class="form-group">
                    <input type="password" id="comfirm_password" value="${password}" name="comfirmPassword" class="form-control" placeholder="请再次输入密码" required="">
                </div>

                <div class="form-group">
                    <input type="text" name="companyCode" value="${companyCode}" class="form-control" placeholder="请输入企业统一社会信用代码" required="">
                </div>

                <button type="submit" class="btn btn-primary block full-width m-b" id="submit">注 册</button>

                <p class="text-muted text-center"><small>已经有账户了？</small><a href="login.html">点此登录</a>
                </p>

            </form>
        </div>
    </div>
    @include("/common/_foot.html") {}
    <script>
        if(window.top !== window.self){ window.top.location = window.location;}

        $('#password').blur(function () {

            if($('#password').val()!=$('#comfirm_password').val()){
                var error = '<span id="password-error" class="help-block m-b-none pull-left"><i class="fa fa-times-circle"></i> 两次密码不一致</span>';
                $('#comfirm_password').parent().addClass('has-error');
                $('#comfirm_password').parent().append(error);
            }

        });

        $('#comfirm_password').on('input propertychange',function(){
            if($('#password').val()!=$('#comfirm_password').val()){
                if(!$('#comfirm_password').parent().hasClass('has-error')){
                    var error = '<span id="password-error" class="help-block m-b-none pull-left"><i class="fa fa-times-circle"></i> 两次密码不一致</span>';
                    $('#comfirm_password').parent().addClass('has-error');
                    $('#comfirm_password').parent().append(error);
                }
            }else{
                $('#comfirm_password').next().remove();
                $('#comfirm_password').parent().removeClass('has-error');
            }
        });

        $('#submit').click(function () {
            if($('.has-error').length>0) return false;
            else return true;
        });

    </script>
</body>

</html>