<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>公告名称</th>
        <th>公告内容</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    @for(list in page_info.list){
    <tr>
        <td>${list.noticeName}</td>
        <td>${list.noticeContent}</td>
        <td>
            <a href="${ctxPath}/notice/watch.html?noticeId=${list.noticeId}"title="查看"><i class="glyphicon glyphicon-user"></i></a>
        </td>
    </tr>
    @}
    </tbody>
</table>
<div class="col-sm-8 pull-right text-right">${pages}</div>
<script>
    $(".pagination  a").click(function(){
        var page = this.attributes["data-p"].nodeValue;
        ajax_get_table('search-form',page);
        /*console.log(this.attributes["data-p"].nodeValue);
        console.log(this.attr('data-p'));*/
    });

    $("#check_all").click(function () {
        if($('#check_all').is(':checked')) {
            $(".i-checks").prop("checked", "checked");
            // $(".i-checks").
        }else {
            $(".i-checks").removeAttr("checked");
        }
    });

    $(".i-checks").click(function () {
        if($("input[class='i-checks']:checked").length<10){
            $("#check_all").prop("checked", false);
        }else {
            $("#check_all").prop("checked", true);
        }
    });
</script>