<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        @if(user.userType==1){
        <th>
            <input type="checkbox" id="check_all">
        </th>
        @}
        <th>政策名称</th>
        <th>政策年份</th>
        <th>提交时间</th>
        <th>申请人</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    @for(list in page_info.list){
    <tr>
        @if(user.userType==1){
        <th>
            <input type="checkbox" class="i-checks" name="input[]" value="${list.company_user_item_id}">
        </th>
        @}
        <td>${list.item_name}</td>
        <td>${list.item_year}</td>
        <td>${list.submit_time,"yyyy-MM-dd HH:mm:ss"}</td>
        <td>${list.real_name}</td>
        <td>
            @if(list.center_checked!=3 && list.center_checked!=null){
            @if(list.center_checked==4){
            审核完成
            @}else if(list.center_checked==3){
            人才中心 已初审 等待 人才中心复审
            @}else if(list.center_checked==0){
            人才中心 不通过 原因 ${list.center_reason}
            @}else{
            人才中心 退回 原因 ${list.center_reason}
            @}
            @}else{
            @if(list.street_checked!=3 && list.street_checked!=null){
            @if(list.street_checked==4){
            人才工作站 已复审 等待 人才中心审核
            @}else if(list.street_checked==3){
            人才工作站已初审通过 请在规定时间内提交原件查验
            @}else if(list.street_checked==0){
            人才工作站 不通过  ${list.street_reason}
            @}else{
            人才工作站 退回 ${list.street_reason}
            @}
            @}else{
            @if(list.company_checked!=3 && list.company_checked!=null){
            @if(list.company_checked==2){
            本公司审核完成 等待 人才工作站审核
            @}else if(list.company_checked==0){
            本公司 不通过 ${list.company_reason}
            @}else{
            本公司 退回 ${list.company_reason}
            @}
            @}
            @}
            @}
        </td>
        <td>
            <a href="${ctxPath}/street/check_info.html?companyUserItemId=${list.company_user_item_id}" title="查看详情"><!--<i class="glyphicon glyphicon-config"></i>-->查看详情</a>&nbsp;&nbsp;&nbsp;
    </tr>
    @}
    </tbody>
</table>
<div class="col-sm-8 pull-right text-right">${pages}</div>
<script>
    $(".pagination  a").click(function(){
        var page = this.attributes["data-p"].nodeValue;
        ajax_get_table('search-form',page);
        /*console.log(this.attributes["data-p"].nodeValue);
        console.log(this.attr('data-p'));*/
    });

    $("#check_all").click(function () {
        console.log(1);
        if($('#check_all').is(':checked')) {
            $(".i-checks").prop("checked", "checked");
            // $(".i-checks").
        }else {
            $(".i-checks").removeAttr("checked");
        }
    });

    $(".i-checks").click(function () {
        if($("input[class='i-checks']:checked").length<10){
            $("#check_all").prop("checked", false);
        }else {
            $("#check_all").prop("checked", true);
        }
    });
</script>